* {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
  color: #2a1e33;
  box-sizing: border-box;
}

section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(img/Untitled-6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

header .logo {
  position: relative;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}

header .navigasi a {
  padding: 4px 15px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.5s;
  transition-property: background;
}

header .navigasi a:not(:last-child) {
  margin-right: 30px;
}

header .navigasi a:hover {
  color: #fff;
  background: #7595ec;
}

.content {
  max-width: 400px;
  margin: 60px 100px;
}

.content .info h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-family: "Rubik", sans-serif;
}

.content .info p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

.content .selengkapnya {
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 30px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 30px;
  color: #fff;
  background-color: #2a1e33;
  transition: 0.3s;
  transition-property: background;
  font-family: "Poppins", sans-serif;
}

.content .selengkapnya:hover {
  background-color: #7595ec;
}

.icon {
  width: 400px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.icon a {
  font-size: 30px;
  opacity: 0.7;
  transition: 0.3s;
  transition-property: transform;
}

.icon a:not(:last-child) {
  margin-right: 15px;
}

.icon a:hover {
  transform: scale(1.5);
}
