body {
  margin: 0;
  padding: 0;
  font: 16px/28px sans-serif;
}

.container {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
  /* border: 1px solid black; */
}

.fungsi {
  width: 900px;
  height: 200px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid red;
}

.ease,
.ease-in,
.ease-in-out,
.ease-out,
.linear,
.cubic-bezier {
  width: 850px;
  height: 100px;
  border: 1px solid black;
}

.kotak {
  width: 100px;
  height: 100px;
  border: 0;
  background-color: salmon;
}

.kotak1 {
  transition: 3s ease;
}

.ease:hover .kotak {
  transform: scale(-1) rotate(720deg);
  margin-left: 750px;
  background-color: rebeccapurple;
}

.kotak2 {
  transition: 3s ease-in;
}

.ease-in:hover .kotak {
  transform: translate(30px);
  margin-left: 750px;
}

.kotak3 {
  transition: 3s ease-in-out;
}

.ease-in-out:hover .kotak {
  transform: rotate(-720deg) rotateX(-720deg) rotateY(-720deg);
  border-radius: 50%;
  margin-left: 750px;
}

.kotak4 {
  transition: 3s ease-out;
}

.ease-out:hover .kotak {
  transform: rotate(720deg) rotateX(720deg) rotateY(720deg);
  margin-left: 750px;
}

.kotak5 {
  transition: 3s linear;
}

.linear:hover .kotak {
  transform: rotateY(190deg) rotateX(190deg);
  margin-left: 750px;
}

.kotak6 {
  transition: 3s cubic-bezier(0, -1.2, 1, 2.1);
}

.cubic-bezier:hover .kotak {
  transform: rotate(720deg);
  margin-left: 750px;
}
